{% extends 'main_user_panel.html' %}



{% block title %}
صفحه ی اصلی
{% endblock title %}




{% block content_user_panel %}

<div class="col-12 col-lg-9 mt-4 mt-lg-0">
    <div class="site__body">
        <div class="page-header">
        </div>
        <div class="block">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">

                                <form action="" method="post">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <ul>
                                                {% for field, errors in form.errors.items %}
                                                    {% for error in errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary mt-4">تغیر رمز</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content_user_panel %}