{% load humanize %}

{% if type == 1 %}

<div class="product-card">
    <div class="product-card__image">
        <a href="{{product.get_absolute_url}}">

            <img src="{{media_url}}{{product.image_name}}" alt="">
        </a>
    </div>
    <div class="product-card__info">
        <div class="product-card__name">
            <a href="{{product.get_absolute_url}}">
                {{product.product_name}}
            </a>
        </div>
    </div>
    <div class="product-card__actions">
        
        <div class="product-card__prices">
            {% if product.get_number_in_warehouse <= 0 %}
                <span class='text-danger'>ناموجود</span>
            {% endif %}
        </div>

        {% if product.get_number_in_warehouse > 0 %}
                {% if product.price > product.get_price_by_discount %}
                    <div class="product-card__prices"><del>{{product.price|intcomma}} تومان</div></del>
                    <div class="product-card__prices text-danger">{{product.get_price_by_discount|intcomma}} تومان</div>
                {% else %}
                    <div class="product-card__prices">{{product.price|intcomma}} تومان</div>
                {% endif %}
        {% endif %}

        <div class="product-card__buttons">
            
            {% if product.get_number_in_warehouse > 0 %}
                <button class="btn btn-primary product-card__addtocart" onclick="add_to_shop_cart({{product.id}},1)"
                    type="button">
                    افزودن به سبد
                </button>
            {% endif %}
                


            {% if user.is_authenticated %}
                {% if product.get_user_favorites %}
                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                        <i class="fa fa-heart" style='color: rgb(255, 9, 9); font-size:18px;'></i>
                    </button>
                {% else %}
                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" onclick="addFavorite({{product.id}})" type="button">
                        <i class="fa fa-heart" id="empty_heart_wishlist_{{product.id}}" style='color: rgb(166, 165, 165); font-size:18px;'></i>
                    </button>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>

{% elif type == 2 %}

<div class="product-card" style="margin-bottom:30px !important;">
    <div class="product-card__image">
        <a href="{{product.get_absolute_url}}">

            <img src="{{media_url}}{{product.image_name}}" alt="">
        </a>
    </div>
    <div class="product-card__badges-list">
        <div class="product-card__badge product-card__badge--sale">جدید</div>
    </div>
    <div class="product-card__info">
        <div class="product-card__name">
            <a href="{{product.get_absolute_url}}">
                {{product.product_name}}
            </a>
        </div>
    </div>
    <div class="product-card__actions">

        <div class="product-card__prices">
            {% if product.get_number_in_warehouse <= 0 %}
                <span class='text-danger'>ناموجود</span>
            {% endif %}
        </div>

        {% if product.get_number_in_warehouse > 0 %}
                {% if product.price > product.get_price_by_discount %}
                    <div class="product-card__prices"><del>{{product.price|intcomma}} تومان</div></del>
                    <div class="product-card__prices text-danger">{{product.get_price_by_discount|intcomma}} تومان</div>
                {% else %}
                    <div class="product-card__prices">{{product.price|intcomma}} تومان</div>
                {% endif %}
        {% endif %}


        <div class="product-card__buttons">

            {% if product.get_number_in_warehouse > 0 %}
                <button class="btn btn-primary product-card__addtocart" onclick="add_to_shop_cart({{product.id}},1)"
                    type="button">
                    افزودن به سبد
                </button>
            {% endif %}



            {% if user.is_authenticated %}
                {% if product.get_user_favorites %}
                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                        <i class="fa fa-heart" style='color: rgb(255, 9, 9); font-size:18px;'></i>
                    </button>
                {% else %}
                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" onclick="addFavorite({{product.id}})" type="button">
                        <i class="fa fa-heart" id="empty_heart_wishlist_{{product.id}}" style='color: rgb(166, 165, 165); font-size:18px;'></i>
                    </button>
                {% endif %}
            {% endif %}


        </div>
    </div>
</div>


{% elif type == 3 %}

<div class="product-card">
    <div class="product-card__image">
        <a href="{{product.get_absolute_url}}">

            <img src="{{media_url}}{{product.image_name}}" alt="">
        </a>
    </div>
    <div class="product-card__info">
        <div class="product-card__name">
            <a href="{{product.get_absolute_url}}">
                {{product.product_name}}
            </a>
        </div>
    </div>
    <div class="product-card__actions">

        <div class="product-card__prices">
            {% if product.get_number_in_warehouse <= 0 %}
                <span class='text-danger'>ناموجود</span>
            {% endif %}
        </div>

        {% if product.get_number_in_warehouse > 0 %}
                {% if product.price > product.get_price_by_discount %}
                    <div class="product-card__prices"><del>{{product.price|intcomma}} تومان</div></del>
                    <div class="product-card__prices text-danger">{{product.get_price_by_discount|intcomma}} تومان</div>
                {% else %}
                    <div class="product-card__prices">{{product.price|intcomma}} تومان</div>
                {% endif %}
        {% endif %}


        <div class="product-card__buttons">

            {% if product.get_number_in_warehouse > 0 %}
                <button class="btn btn-primary product-card__addtocart" onclick="add_to_shop_cart({{product.id}},1)"
                    type="button">
                    افزودن به سبد
                </button>
            {% endif %}



            {% if user.is_authenticated %}
                {% if product.get_user_favorites %}
                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                        <i class="fa fa-heart" style='color: rgb(255, 9, 9); font-size:18px;'></i>
                    </button>
                {% else %}
                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" onclick="addFavorite({{product.id}})" type="button">
                        <i class="fa fa-heart" id="empty_heart_wishlist_{{product.id}}" style='color: rgb(166, 165, 165); font-size:18px;'></i>
                    </button>
                {% endif %}
            {% endif %}


        </div>
    </div>
</div>


{% elif type == 4 %}

<div class="products-list__item">
    <div class="product-card">
        <div class="product-card__badges-list">
            <div class="product-card__badge product-card__badge--new">جدید</div>
        </div>
        <div class="product-card__image">
            <a href="{% url 'products:product_detail' slug=product.slug %}">
                <img src="{{media_url}}{{product.image_name}}" alt="">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name"><a href="product.html">{{product.product_name}}</a></div>

        </div>
        <div class="product-card__actions">

            <div class="product-card__prices">
                {% if product.get_number_in_warehouse <= 0 %}
                    <span class='text-danger'>ناموجود</span>
                {% endif %}
            </div>
    
            {% if product.get_number_in_warehouse > 0 %}
                    {% if product.price > product.get_price_by_discount %}
                        <div class="product-card__prices"><del>{{product.price|intcomma}} تومان</div></del>
                        <div class="product-card__prices text-danger">{{product.get_price_by_discount|intcomma}} تومان</div>
                    {% else %}
                        <div class="product-card__prices">{{product.price|intcomma}} تومان</div>
                    {% endif %}
            {% endif %}
    
    
            <div class="product-card__buttons">
    
                {% if product.get_number_in_warehouse > 0 %}
                    <button class="btn btn-primary product-card__addtocart" onclick="add_to_shop_cart({{product.id}},1)"
                        type="button">
                        افزودن به سبد
                    </button>
                {% endif %}
    
    
    
                {% if user.is_authenticated %}
                    {% if product.get_user_favorites %}
                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                            <i class="fa fa-heart" style='color: rgb(255, 9, 9); font-size:18px;'></i>
                        </button>
                    {% else %}
                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" onclick="addFavorite({{product.id}})" type="button">
                            <i class="fa fa-heart" id="empty_heart_wishlist_{{product.id}}" style='color: rgb(166, 165, 165); font-size:18px;'></i>
                        </button>
                    {% endif %}
                {% endif %}
    
    
            </div>
        </div>
    </div>
</div>

{% endif %}