{% extends 'main_user_panel.html' %}



{% block title %}
    صفحه ی اصلی
{% endblock title %}
    

{% load render_partial %}

{% block content_user_panel %}
    
<div class="col-12 col-lg-9 mt-4 mt-lg-0">
	<div class="dashboard">
		<div class="dashboard__profile card profile-card">
			<div class="card-body profile-card__body">
				
				{% if user_info.image_name %}
					<div class="profile-card__avatar"><img src="{{media_url}}{{user_info.image_name}}" alt=""></div>
				{% else %}
					<div class="profile-card__avatar"><img src="{{media_url}}images/customer/nophoto1.png" alt=""></div>
				{% endif %}
					
				<div class="profile-card__name">{{user_info.name}}&nbsp;&nbsp;{{user_info.family}}</div>
				<div class="profile-card__email">{{user_info.mobile_number}}</div>
				<div class="profile-card__edit"><a href="user-profile.html" class="btn btn-secondary btn-sm">ویرایش پروفایل</a></div>
			</div>
		</div>

		<div class="dashboard__address card address-card address-card--featured">
			<div class="address-card__badge">آدرس </div>
			<div class="address-card__body">
				<div class="address-card__name"> </div>
				<div class="address-card__row">
					{{user_info.address}}
				</div>
				<div class="address-card__row">
					<div class="address-card__row-title">شماره تلفن</div>
					<div class="address-card__row-content"><span class="ltr_text">{{user_info.phone_number}}</span></div>
				</div>
				<div class="address-card__row">
					<div class="address-card__row-title">آدرس ایمیل</div>
					<div class="address-card__row-content">{{user_info.email}}</div>
				</div>
				
			</div>
		</div>

		{% render_partial 'accounts:user_panel_last_order' %}



	</div>
</div>

{% endblock content_user_panel %}
    