{% extends 'index.html' %}

{% block title %}
    صفحه ی اصلی
{% endblock title %}
    
{% load humanize %}
{% load render_partial %}

{% block content %}
    
        <div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">خانه</a>
                                    /
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">محصولات</a>
                                    /
                                </li>
                                <li class="active" aria-current="page">محصول</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="product product--layout--columnar" data-layout="columnar">
                        <div class="product__content">
                            <!-- .product__gallery -->
                            <div class="product__gallery">
                                <div class="product-gallery">
                                    <div class="product-gallery__featured">
                                        <div class="owl-carousel" id="product-image">
                                            <a href="{{media_url}}{{product.image_name}}" target="_blank"><img src="{{media_url}}{{product.image_name}}" alt=""> </a>
                                            {% for image in product.product_image_gallery.all %}
                                                <a href="{{media_url}}{{image.image_name}}" target="_blank">
                                                    <img src="{{media_url}}{{image.image_name}}" alt="">
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="product-gallery__carousel">
                                        <div class="owl-carousel" id="product-carousel">
                                            <a href="" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src="{{media_url}}{{product.image_name}}" alt=""> </a>
                                                
                                                {% for image in product.product_image_gallery.all %}
                                                    <a href="" class="product-gallery__carousel-item">
                                                        <img class="product-gallery__carousel-image" src="{{media_url}}{{image.image_name}}" alt=""> 
                                                    </a>
                                                {% endfor %}
                                                    

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .product__gallery / end -->
                            <!-- .product__info -->
                            <div class="product__info">
                                <div class="product__wishlist-compare">
                                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="images/sprite.svg#compare-16"></use>
                                        </svg>
                                    </button>
                                </div>
                                <h1 class="product__name">{{product.product_name}}</h1>
                                <div class="product__rating">
                                    <div class="product__rating-stars">
                                        <div class="rating">
                                            <div class="rating__body">
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__description">
                                    {{ product.short_text }}
                                </div>
                                <ul class="d-flex justify-content-between">
                                    
                                    <li class="product__meta-availability">موجودی: <span class="text-success">موجود در انبار</span></li>
                                    <li>برند: <span class="text-danger">{{product.brand}}</span></li>
                                    <li>تعداد نظرات: <span class="text-danger">{{product.comments_product.all | length}}</span> نظر</li>
                                </ul>
                                <div class="d-flex justify-content-between">
                                    <h6>میانگین امتیاز کالا : <span id="avg_score" class="text-danger">{{product.get_avg_scores}}</span></h6>
                                    <div>
                                        
                                        {% if user.is_authenticated %}
                                            {% if product.get_score_user > 0 %}
                                                {% with ''|center:5 as range %}
                                                    {% for i in range %}
                                                        {% if forloop.counter <= product.get_score_user %}
                                                            <i id="star_{{forloop.counter}}" class="fa fa-star scoring_checked" aria-hidden="true"></i>
                                                        {% else %}
                                                            <i id="star_{{forloop.counter}}" class="fa fa-star" aria-hidden="true"></i>
                                                        {% endif %}
                                                    {% endfor %} 
                                                {% endwith %}
                                            {% else %}
                                                <i id="star_1" class="fa fa-star scoring_star_pointer" onclick="addScore(1,{{product.id}})" aria-hidden="true"></i>
                                                <i id="star_2" class="fa fa-star scoring_star_pointer" onclick="addScore(2,{{product.id}})" aria-hidden="true"></i>
                                                <i id="star_3" class="fa fa-star scoring_star_pointer" onclick="addScore(3,{{product.id}})" aria-hidden="true"></i>
                                                <i id="star_4" class="fa fa-star scoring_star_pointer" onclick="addScore(4,{{product.id}})" aria-hidden="true"></i>
                                                <i id="star_5" class="fa fa-star scoring_star_pointer" onclick="addScore(5,{{product.id}})" aria-hidden="true"></i>
                                                
                                                {% endif %}
                                                {% else %}
                                                <span>وارد شوید</span>
                                            {% endif %}
                                                
                                            </div>
                                        </div>
                                        <div>
                                            <a  onclick="addToCompareList({{product.id}},{{product.GetMainProductGroups}})" style="cursor: pointer;">
                                                افزودن به لیست مقایسه
                                            </a>
                                        

                                </div>
                            </div>
                            <!-- .product__info / end -->
                            <!-- .product__sidebar -->
                            <div class="product__sidebar">
                                <div class="product__availability mb-3">موجودی: <span class="text-success">{{product.get_number_in_warehouse}}</span></div>

                                    {% if product.price > product.get_price_by_discount %}
                                        <div class="product-card__prices"><del>{{product.price|intcomma}} تومان</div></del>
                                        <div class="product-card__prices text-danger">{{product.get_price_by_discount|intcomma}} تومان</div>
                                    {% else %}
                                        <div class="product-card__prices">{{product.price|intcomma}} تومان</div>
                                    {% endif %}

                                <!-- .product__options -->
                                <form class="product__options">
                                    
                                    {% if product.get_number_in_warehouse > 0 %}
                                        <div class="form-group product__option">
                                            <label class="product__option-label mt-5" for="product-quantity">تعداد</label>
                                            <div class="product__actions">
                                                <div class="product__actions-item">
                                                    <div class="input-number product__quantity">
                                                        <input id="product-quantity" class="form-control form-control-lg" type="number" min="1" value="1">

                                                    </div>
                                                </div>
                                                <div class="product__actions-item product__actions-item--addtocart">
                                                    <button type="button" class="btn btn-primary btn-lg" onclick="add_to_shop_cart({{product.id}},0)">افزودن به سبد</button>
                                                </div>
                                                <div class="product__actions-item product__actions-item--wishlist">
                                                    <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Wishlist">
                                                        <svg width="16px" height="16px">
                                                            <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="product__actions-item product__actions-item--compare">
                                                    <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Compare">
                                                        <svg width="16px" height="16px">
                                                            <use xlink:href="images/sprite.svg#compare-16"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                </form>
                                <!-- .product__options / end -->
                            </div>
                            <!-- .product__end -->
                        </div>
                    </div>
                    <div class="product-tabs">
                        <div class="product-tabs__list"><a href="#tab-description" class="product-tabs__item product-tabs__item--active">توضیحات</a> <a href="#tab-specification" class="product-tabs__item">مشخصات فنی</a> <a href="#tab-reviews" class="product-tabs__item">دیدگاه ها</a></div>
                        <div class="product-tabs__content">
                            <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                                <div class="typography">
                                    {{product.description|safe}}
                                </div>
                            </div>
                            <div class="product-tabs__pane" id="tab-specification">
                                <div class="spec">
                                    <h3 class="spec__header">مشخصات</h3>
                                    <div class="spec__section">       
                                        {% for feature in product.product_features.all %}
                                            <div class="spec__row">
                                                <div class="spec__name">{{feature.feature}}</div>
                                                <div class="spec__value">{{feature.value}}</div>
                                            </div>
                                        {% endfor %}   
                                    </div>
                                </div>
                            </div>
                            {% include 'csw_app/partials/comments.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- .block-products-carousel -->
            {% render_partial 'products:related_product' slug=product.slug %}
            <!-- .block-products-carousel / end -->
        </div>

{% endblock content %}
    