{% extends 'index.html' %}

{% block title %}
    صفحه ی اصلی
{% endblock title %}
{% load humanize %}
{% load render_partial %}

{% block content %}
    
    		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">خانه</a>
									/
								</li>
								<li class="breadcrumb-item active" aria-current="page">علاقه‌مندی‌ها</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>علاقه‌مندی‌ها</h1></div>
				</div>
			</div>
			<div class="block">
				<div class="container">
					<table class="wishlist">
						<thead class="wishlist__head">
							<tr class="wishlist__row">
								<th class="wishlist__column wishlist__column--image">تصویر</th>
								<th class="wishlist__column wishlist__column--product">محصول</th>
								<th class="wishlist__column wishlist__column--stock">وضعیت انبار</th>
								<th class="wishlist__column wishlist__column--price">قیمت</th>
								<th class="wishlist__column wishlist__column--tocart"></th>
								<th class="wishlist__column wishlist__column--remove"></th>
							</tr>
						</thead>
						<tbody class="wishlist__body">
                            
                            {% for favorite in user_favorite %}
                                <tr class="wishlist__row">
                                    <td class="wishlist__column wishlist__column--image">
                                        <a href=""><img src="{{media_url}}{{favorite.product.image_name}}" alt=""></a>
                                    </td>
                                    <td class="wishlist__column wishlist__column--product">
                                        <a href="{% url 'products:product_detail' slug=favorite.product.slug %}" class="wishlist__product-name">
                                            {{favorite.product.product_name}}
                                        </a>
                                    </td>
                                    <td class="wishlist__column wishlist__column--stock">
                                        <div class="">
                                            
                                            {% if favorite.product.get_number_in_warehouse > 0 %}
                                                <span class="badge badge-success">موجودی در انبار</span>
                                            {% else %}
                                                <span class="badge badge-danger">موجود نمی باشد</span>    
                                            {% endif %}
                                        </div>

                                        </div>
                                    </td>
                                    <td class="wishlist__column wishlist__column--price">
                                        {% if favorite.product.get_number_in_warehouse > 0 %} 
                                            {{favorite.product.get_price_by_discount|intcomma}} تومان
                                        {% endif %}
                                    </td>
                                    <td class="wishlist__column wishlist__column--tocart">
                                        
                                        {% if favorite.product.get_number_in_warehouse > 0 %} 
                                            <button class="btn btn-primary product-card__addtocart" onclick="add_to_shop_cart({{favorite.product.id}},1)" type="button">
                                                افزودن به سبد
                                            </button>
                                        {% endif %}
                                            
                                    </td>
                                    <td class="wishlist__column wishlist__column--remove">
                                        <button type="button" class="btn btn-light btn-sm btn-svg-icon">
                                            <svg width="12px" height="12px">
                                                <use xlink:href="images/sprite.svg#cross-12"></use>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- site__body / end -->

{% endblock content %}
    